<div cdkDropListGroup class="mt-32 pl-32">
  <div class="container">
    <h2>To do</h2>
    
    <div cdkDropList [cdkDropListData]="todo" class="list" (cdkDropListDropped)="drop($event)">
      <!-- {{ console.log('todoList', todoList) }} -->
      <div class="box" *ngFor="let task of todo" (click)="openDialogTaskDetail(task)" cdkDrag>
        <div>
          <h3>{{ task.title }}</h3>
          <p>{{ task.description }}</p>
        </div>
        <div>
          <p>{{ task.urgency }}</p>
          <p>{{ task.date }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>In Progress</h2>
    
    <div cdkDropList [cdkDropListData]="inProgress" class="list" (cdkDropListDropped)="drop($event)">
      <!-- {{ console.log('inProgressList', inProgressList) }} -->
      <div class="box" *ngFor="let task of inProgress" (click)="openDialogTaskDetail(task)" cdkDrag>
        <div>
          <h3>{{ task.title }}</h3>
          <p>{{ task.description }}</p>
        </div>
        <div>
          <p>{{ task.urgency }}</p>
          <p>{{ task.date }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Testing</h2>
    
    <div cdkDropList [cdkDropListData]="testing" class="list" (cdkDropListDropped)="drop($event)">
      <!-- {{ console.log('testingList', testingList) }} -->
      <div class="box" *ngFor="let task of testing" (click)="openDialogTaskDetail(task)" cdkDrag>
        <div>
          <h3>{{ task.title }}</h3>
          <p>{{ task.description }}</p>
        </div>
        <div>
          <p>{{ task.urgency }}</p>
          <p>{{ task.date }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Done</h2>
    
    <div cdkDropList [cdkDropListData]="done" class="list" (cdkDropListDropped)="drop($event)">
      <!-- {{ console.log('doneList', doneList) }} -->
      <div class="box" *ngFor="let task of done" (click)="openDialogTaskDetail(task)" cdkDrag>
        <div>
          <h3>{{ task.title }}</h3>
          <p>{{ task.description }}</p>
        </div>
        <div>
          <p>{{ task.urgency }}</p>
          <p>{{ task.date }}</p>
        </div>
      </div>
    </div>
  </div>

</div>


<button class="add-btn" mat-raised-button (click)="openDialog()" mat-fab color="primary" matTooltip="Add Task">
  <mat-icon>add</mat-icon>
</button>