<mat-drawer-container class="container" autosize>
    
    <mat-drawer #drawer class="sidenav" mode="side">
        <div class="logo-container">
            PLATZ FÜR LOGO
        </div>

        <ul class="side-menu">
            <li><mat-icon>dashboard</mat-icon>Dashboard</li>
        </ul>
    </mat-drawer>

    <mat-toolbar color="primary">
        <button (click)="drawer.toggle()" mat-icon-button class="icon">
            <mat-icon aria-hidden="false">menu</mat-icon>
        </button>
        <span>MusG-Kanban</span>
    </mat-toolbar>  
  
  </mat-drawer-container>