.container{
    height: 100vh;
}

.sidenav {
    width: 300px;
    box-shadow: 3px 64px 10px 0px rgb(0 0 0 / 10%);
}

.logo-container{
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);

    img {
        width: 60px;
    }
}

.side-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding-left: 16px;
        height: 48px;
        display: flex;
        align-items: center;

        &:hover {
            background-color: rgba(0,0,0,0.03);
            cursor: pointer;
        }

        mat-icon {
            margin-right: 16px;
        }
    }
}

.icon {
    cursor: pointer;
    margin-right: 16px;
}

.router-container {
    height: calc(100vh - 64px);
}