<mat-drawer-container class="container" autosize>

    <mat-drawer #drawer class="sidenav" mode="side">
        <div class="logo-container">
            <img src="assets/img/logo.png">
        </div>

        <ul class="side-menu">
            <li>
                <mat-icon>dashboard</mat-icon>Kanban
            </li>
        </ul>
    </mat-drawer>

    <mat-toolbar color="primary">
        <button (click)="drawer.toggle()" mat-icon-button class="icon">
            <mat-icon aria-hidden="false">menu</mat-icon>
        </button>
        <span>MusG's-Kanban</span>
    </mat-toolbar>

    <div class="router-container">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>