html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-16 {
    margin-right: 16px;
}

.mt-32 {
    margin-top: 32px;
}

.pr-16 {
    padding-right: 16px;
}

.pl-32 {
    padding-left: 32px;
}

.full-width {
    width: 100%;
}

.flex-end {
    justify-content: flex-end;
}

.dialog-container {
    position: relative;

    mat-progress-bar {
        position: absolute;
        left: -24px;
        top: -24px;
        right: -24px;
        width: calc(100% + 48px);
    }
}